/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@font-face {
  font-family: minion;
  src: url("/fonts/minion.woff") format("woff");
}

/* Variables */
$yellow: #ffcb05;
$orange: #ff8c00;
$black: #000;
$white: #fff;
$grey: #131313;

.orange {
  color: $orange;
}

.yellow {
  color: $yellow;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.yellow-bg {
  background: $yellow;
}

.white-bg {
  background: $white;
}

.black-bg {
  background: $black;
}

.text-center {
  text-align: center;
}

/* Page Loader */

.loader-wrapper {
  z-index: 30000;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: $black;
}

.loader {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;

  .logo {
    width: 300px;
    height: 300px;
    overflow: initial;
    .pixel {
      animation: move 3s ease infinite;
    }
  }
}

@keyframes move {
  0% {
    transform: translate(20px);
  }

  50% {
    transform: translate(-1px);
  }

  100% {
    transform: translate(20px);
  }
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: 1em;
  background: $black;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(40deg, $orange 0%, $yellow 100%);
}

/* General */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: $black;
  color: $white;
  font-family: "Open Sans", sans-serif;

  h1 {
    font-size: 28px;
    margin: 0;
  }

  h2 {
    font-size: 24px;
    margin: 0;
  }

  p {
    margin: 0;
  }

  a {
    transition: 300ms ease-in-out;
    text-decoration: none;
    font-weight: bold;

    &:hover,
    &.active {
      color: $yellow;
    }
  }

  &.intro {
    position: fixed;
    height: 100vh;
    overflow: hidden;
  }

  .content {
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
  }

  svg.logo {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

/* Header */
header {
  height: 100px;
  width: 100%;

  nav {
    .menu-item {
      color: $white;
      height: auto;
      transition: 300ms ease-in-out;
      font-size: 50px;
      margin: 0;
      &:hover,
      &.active {
        color: $yellow;
      }
      &.home {
        position: absolute;
        left: 20px;
        top: 10px;
        .logo {
          width: 50px;
          .letter {
            font-style: normal;
            font-weight: normal;
          }

          .pixel {
            transition: 300ms ease-in-out;
          }
          &:hover {
            .pixel {
              transform: translate(21px);
            }
          }
        }
      }
      &.about {
        position: absolute;
        right: 50px;
        top: 25px;
        font-size: 20px;
        &.is-active {
          color: $yellow;
        }
      }
    }
  }
}

/* Footer */

footer {
  width: 100%;
  height: auto;
  background: $black;

  p {
    width: 80%;
    font-size: 14px;
    margin: 0 auto;
    padding: 25px 0;
  }
}

/* Home */

.home {
  h1 {
    padding: 50px 0;
  }

  .grid {
    padding: 15rem 4rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 5vw));
    grid-column-gap: 10vw;
    grid-row-gap: 25vh;
    max-width: 1300px;
  }

  .grid__item {
    height: 45vh;
    position: relative;
  }

  .grid__item:nth-child(even) {
    margin-top: -10vh;
  }

  .grid__item-imgwrap,
  .grid__item-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .grid__item-imgwrap {
    overflow: hidden;
  }

  .grid__item-img--bw {
    transform: scale3d(1.2, 1.2, 1);
    filter: grayscale(1);
  }

  .grid__item-content {
    position: absolute;
    bottom: -2rem;
    right: 0;
    z-index: 10;
    width: 100%;
  }

  .grid__item-title {
    font-size: 3.5vw;
    margin: 0 -3rem 2rem 0;
    color: #fff;
    text-align: right;
    text-transform: lowercase;
    font-family: "minion";
  }

  .grid__item-cta {
    text-align: right;
    width: 100%;
    font-weight: bold;
    display: block;
    font-size: 1.5rem;
    color: $yellow;
    text-transform: lowercase;
    display: flex;
    justify-content: flex-end;
  }

  .grid__item-cta span {
    flex: none;
    white-space: pre;
    opacity: 0;
  }

  @media screen and (max-width: 55em) {
    .grid {
      padding: 1rem;
      grid-template-columns: 100%;
      grid-row-gap: 4rem;
    }
    .grid__item:nth-child(even) {
      margin-top: 0;
    }
    .grid__item-title {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
    .grid__item-cta {
      font-size: 1rem;
    }
  }
}

/* About */

.about {
  h1 {
    margin-bottom: 50px;
  }

  .description {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 75px;
  }
  // Contact form

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;

    .headline {
      font-size: 5vw;
      font-weight: bold;
      margin: 0 auto;
    }

    .form {
      margin: 0 auto;
      width: 60%;
      max-width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding: 4rem 0 0 0;
      p {
        margin-bottom: 25px;
      }
    }

    .form__title {
      display: block;
      text-align: left;
      font-weight: bold;
      align-self: flex-start;
      padding: 0 0 1.5rem;
    }

    .form__item {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0 0 1.5rem 0;
    }

    .form__label {
      display: block;
      font-size: 1rem;
      font-weight: bold;
      margin: 0 0 0.5rem 0;
      display: flex;
      overflow: hidden;
      color: $yellow;
    }

    .form__label span {
      opacity: 0;
    }

    .form__label span,
    .form__placeholder span {
      flex: none;
      white-space: pre;
    }

    .form__input {
      display: block;
      font-size: 1.25rem;
      padding: 1.5rem;
      width: 100%;
      border: 0;
      background: #131313;
      position: relative;
      font-weight: bold;
      color: #fff;
    }

    .form__input:focus {
      outline: none;
    }

    input:-webkit-autofill {
      box-shadow: 0 0 0 10rem #131313 inset;
      -webkit-box-shadow: 0 0 0 10rem #131313 inset;
      -webkit-text-fill-color: #fff !important;
    }

    textarea {
      font-family: inherit;
      font-weight: 700;
    }

    .form__placeholder {
      position: absolute;
      bottom: 0;
      z-index: 10;
      font-size: 1.25rem;
      pointer-events: none;
      padding: 1.5rem;
      display: flex;
      overflow: hidden;
      color: $yellow;
      font-weight: bold;
      &.message {
        top: 30px;
      }
    }

    .form__input:focus ~ .form__placeholder span {
      opacity: 0 !important;
    }

    .form__button {
      padding: 1rem 2rem;
      font-weight: bold;
      border-radius: 50px;
      border: 3px $yellow solid;
      margin: 1.2rem 0 0 auto;
      background: $black;
      color: $white;

      align-self: center;
      transition: 300ms ease-in-out;
    }

    .form__button:focus {
      outline: none;
    }

    .form__button:hover {
      background: $yellow;

      cursor: pointer;
    }

    @media screen and (max-width: 55em) {
      .form {
        max-width: none;
        width: 80%;
      }
    }
  }
}

/* CTA button */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

.iconbutton {
  margin: 50px auto;

  display: flex;
  align-items: center;
  font-size: 20px;
  background: none;
  border: 0;
  padding: 0 2rem;
  position: relative;
  border-radius: 50px;
}

.iconbutton:focus {
  outline: none;
}

.iconbutton--border {
  padding: 1rem 3.5rem;
  overflow: hidden;
  background: linear-gradient(40deg, $orange 0%, $yellow 100%);
}

.iconbutton__text {
  font-weight: 700;
  margin: 0;
  background: $white;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.iconbutton__graphic {
  position: absolute;
  right: 1.25rem;
  top: 0;
  display: flex;
  height: 100%;
  align-items: center;
}

.icon--arrow-right {
  transform: rotate(180deg);
  color: $white;
}

.arrow-back {
  transform: rotate(180deg);
  color: $white;
}

@media screen and (max-width: 55em) {
  .content__text {
    font-size: 1rem;
  }
}

/* Scroll button */

.scroll {
  width: 2rem;
  height: 3.25rem;
  border-radius: 1rem;
  border: 2px solid $white;
}

.scroll__wheel {
  width: 2px;
  height: 1rem;
  background: $white;
  border-radius: 0.1rem;
  margin: 0.25rem auto 0;
}

/* Single Project */

.project {
  h1 {
    font-size: 70px;

    .smaller {
      font-size: 40px;
    }
  }
  h2 {
    font-size: 18px;

    font-weight: normal;
  }

  p {
    width: 80%;
  }

  h1,
  h2,
  p {
    margin: 15px 4rem;
  }

  .arrow-back {
    margin: 50px 0;
    height: 50px;
    width: 50px;
    transform: initial;
    color: $yellow;
    transition: 300ms ease-in-out;
    &:hover {
      color: $white;
    }

    &.icon {
      display: inline;
    }
  }

  .vimeo {
    margin: 50px 4rem;
  }

  .media {
    padding: 4rem;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .media-grid {
    padding: 4rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 2.5vw));
    grid-column-gap: 5vw;
    grid-row-gap: 10vh;
    max-width: 1300px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  @media screen and (max-width: 55em) {
    .media-grid {
      padding: 1rem 0;
      grid-template-columns: 100%;
      grid-row-gap: 4rem;
    }

    .media {
      padding: 1rem 0;
    }

    .vimeo {
      margin: 50px 0;
    }

    h1,
    h2,
    p {
      margin: 15px 0rem;
    }
  }
}

/* Responsive */

@media (max-width: 1000px) {
  .about {
    .contact {
      display: block;
      .headline {
        text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
  button {
    opacity: 1 !important;
  }

  .home .grid__item-img--bw {
    transform: none;
    filter: none;
  }
  .home .grid__item-cta span {
    opacity: 1;
  }
  .home .iconbutton {
    display: none;
  }

  .project {
    p {
      width: 100%;
    }
  }
}
